<% layout("layouts/boilerplate") %>

<div class="row mt-3">
   <div class="col-6 offset-3">
     <form action="/signup" method="POST" class="needs-validation" novalidate>
       <h3>SignUp on Wanderlust</h3>

       <div class="mb-3">
         <label for="username" class="form-label">Username</label>
         <input type="text" name="username" type="text" id="username" placeholder="Enter your Username" class="form-control" required>
         <div class="valid-feedback">Username looks good</div>
       </div>

       <div class="mb-3">
         <label for="email" class="form-label">Email</label>
         <input type="email" name="email" type="email" id="email" placeholder="Enter your Email" class="form-control" required>
         <div class="invalid-feedback">Please enter a valid email</div>
       </div>

       <div class="mb-3">
         <label for="password" class="form-label">Password</label>
         <input type="password" name="password" type="password" id="password" placeholder="Enter your Password" class="form-control" required>
         <div class="invalid-feedback">Please enter a password</div>
       </div>

       <button class="btn btn-dark add-btn mt-3">Sign Up</button>
     </form>
   </div>
</div>